<div class="book-info-detail clearfix">
  <h2 class="book-title"><%= book.book_title %></h2>
  <div class="book-info-left">
    <div class="book-image-box2">
      <%= link_to book do image_tag(book.book_img_url , :class =>"book-image2") end %>
    </div>
    <!-- レートの星と数字の表示 -->
    <div class="show-overall-rate">
      <% if reviews.average(:overall_rate) %>
        <% ave_overall_rate = reviews.average(:overall_rate)*2 %>
        <% b = ave_overall_rate.round %>
        <% a = b * 5 %>
        <% c = a / 10.0 %>
        <div class="show-overall-rate-star">
          <span class="rate rate<%= a %>"></span>
        </div>
        <div class="show-overall-rate-val">
          <span class=""><%= c %></span>
        </div>
      <% else %>
        <% ave_overall_rate = "" %>
        <span class="show-no-overall-rate">まだ評価はありません。</span>
      <% end %>
    </div>
  </div>

  <div class="book-info-right clearfix">
    <div class="authors-box">
      <span>著者：</span>
      <% authors = ["スティーブン・R・コヴィー", "フランクリン・コヴィー・ジャパン"] %>
      <% authors.each_with_index do |author, i| %>
        <a href="#"><%= author %></a>
        <% unless authors.length == i+1  %>
          <span>,&nbsp;</span>
        <% end %>
      <% end %>
    </div>

    <div style="">
      <%= link_to 'Amazon 詳細ページへ',book.amazon_detail_url , class: "btn btn-default info-link-button"  %>
    </div>

    <div class="clearfix">
      <!-- レビューを書いている場合:@myreviewがnilでない場合 -->
      <% if @myreview %>
        <div class="book-add-button-box">
          <% if current_page?(edit_book_review_path(book,@myreview.id)) %>
            <%= link_to book, method: :get, class: "btn btn-default book-add-button" do %>
            レビュー<br>一覧ページへ
            <% end %>
          <% else %>
          <%= link_to 'レビューを編集',edit_book_review_path(book,@myreview.id), method: :get, class: "btn btn-default book-add-button" %>
          <% end %>
        </div>
        <div class="book-add-button-box">
          <%= link_to 'レビューを削除',"/books/#{book.id}/reviews/#{@myreview.id}", method: :delete, class: "btn btn-default book-add-button" , data: {confirm: '削除してもいいですか？'}  %>
        </div>
        <div class="book-add-button-box">
          <%= button_tag type: "submit", class: "btn btn-default book-add-button" do %>
            <span>おすすめの本<br>に追加</span>
          <% end %>
        </div>

      <!-- レビューを書いていない場合 -->
      <% else %>
        <div class="book-add-button-box">
          <% if current_page?(new_book_review_path(book)) %>
            <%= link_to book, method: :get, class: "btn btn-default book-add-button" do %>
            レビュー<br>一覧ページへ
            <% end %>
          <% else %>
            <%= link_to 'レビューを書く',new_book_review_path(book), method: :get, class: "btn btn-default book-add-button"  %>
          <% end %>
        </div>
        <div class="book-add-button-box">
          <%= button_tag type: "submit", class: "btn btn-default book-add-button" do %>
            <span>読みたい本<br>に追加</span>
          <% end %>
        </div>
        <div class="book-add-button-box">
          <%= button_tag type: "submit", class: "btn btn-default book-add-button" do %>
            <span>読む予定<br>に追加</span>
          <% end %>
        </div>
        <div class="book-add-button-box">
          <%= button_tag type: "submit", class: "btn btn-default book-add-button" do %>
            <span>気になる本<br>に追加</span>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="show-book-rate" style="margin:5px;">
      <!-- 基本評価テーブル -->
      <div class="show-basic-rate-contribute">
        <h4 class="show-rate-title">評価平均【基本評価】</h4>
        <!-- 総合評価レートの表示。（太字、背景色が異なるので分けた） -->
        <% if reviews.average(:overall_rate) %>
          <% rate = reviews.average(:overall_rate)*2.round/2 *10 %>
          <% else rate = nil %>
        <% end %>
          <dl class="show-rate" style="background-color:mistyrose;">
            <dt style="font-weight:bold;">総合評価</dt>
            <%= render 'books/rate_small', rate: rate %>
          </dl>
        <%# 総合評価以外の基本レート %>
        <% @fundamental_names.zip(@fundamental_rates)[1..5].each do |review_name, review_column| %>
          <dl class="show-rate">
            <dt><%= review_name %></dt>
            <% if reviews.average(review_column) %>
              <% rate = reviews.average(review_column)*2.round/2 *10 %>
              <% else rate = nil %>
            <% end %>
            <%= render 'books/rate_small', rate: rate %>
          </dl>
        <% end %>
      </div>
      <%# 世代別評価テーブル %>
      <div class="show-generation-rate-contribute">
        <h4 class="show-rate-title">評価平均【世代別おすすめ】</h4>
        <% @generation_names.zip(@generation_rates).each do |generation_name, generation_rate| %>
          <dl class="show-rate">
            <dt><%= generation_name %></dt>
            <% if reviews.average(generation_rate) %>
              <% rate = reviews.average(generation_rate)*2.round/2 *10 %>
              <% else rate = nil %>
            <% end %>
            <%= render 'books/rate_small', rate: rate %>
          </dl>
        <% end %>
      </div>
    </div>
  </div>
</div>
