<div class="book-info-detail clearfix">
  <% if current_page?(ranking_books_path) %>
  <h2 class="ranking"><%= rank %>位</h2>
  <% end %>
  <h2 class="book-title"><%= book.book_title %></h2>
  <div class="book-info-left">
    <div class="book-image-box2">
      <%= link_to book do image_tag(book.book_img_url , :class =>"book-image2") end %>
    </div>
    <%# レートの星と数字の表示 %>
    <div class="show-overall-rate">
      <% if fundamental_rate_values[:overall_rate] && fundamental_rate_values[:overall_rate] != 0 %>
        <div class="show-overall-rate-star">
          <span class="rate rate<%= fundamental_rate_stars[:overall_rate] %>"></span>
        </div>
        <div class="show-overall-rate-val">
          <span class=""><%= fundamental_rate_values[:overall_rate] %></span>
        </div>
      <% else %>
        <span class="show-no-overall-rate">まだ評価はありません。</span>
      <% end %>
    </div>
  </div>

  <div class="book-info-right clearfix">
    <div class="authors-box">
      <span>著者：</span>
      <% authors = ["スティーブン・R・コヴィー", "フランクリン・コヴィー・ジャパン"] %>
      <% authors.each_with_index do |author, i| %>
        <a href="#"><%= author %></a>
        <% unless authors.length == i+1  %>
          <span>,&nbsp;</span>
        <% end %>
      <% end %>
    </div>

    <div style="">
      <%= link_to 'Amazon 詳細ページへ',book.amazon_detail_url , class: "btn btn-default info-link-button"  %>
    </div>

    <div class="clearfix">
      <%# レビューを書いている場合:myreviewがnilでない場合 %>
      <% if myreview %>
        <div class="book-add-button-box">
          <% if current_page?(edit_book_review_path(book,myreview.id)) %>
            <%= link_to book, method: :get, class: "btn btn-default book-add-button" do %>
            レビュー<br>一覧ページへ
            <% end %>
          <% else %>
          <%= link_to 'レビューを編集',edit_book_review_path(book,myreview.id), method: :get, class: "btn btn-default book-add-button" %>
          <% end %>
        </div>
        <div class="book-add-button-box">
          <%= link_to 'レビューを削除',"/books/#{book.id}/reviews/#{myreview.id}", method: :delete, class: "btn btn-default book-add-button" , data: {confirm: '削除してもいいですか？'}  %>
        </div>
        <div class="book-add-button-box">
          <%= button_tag type: "submit", class: "btn btn-default book-add-button" do %>
            <span>おすすめの本<br>に追加</span>
          <% end %>
        </div>

      <%# レビューを書いていない場合 %>
      <% else %>
        <div class="book-add-button-box">
          <% if current_page?(new_book_review_path(book)) %>
            <%= link_to book, method: :get, class: "btn btn-default book-add-button" do %>
            レビュー<br>一覧ページへ
            <% end %>
          <% else %>
            <%= link_to 'レビューを書く',new_book_review_path(book), method: :get, class: "btn btn-default book-add-button"  %>
          <% end %>
        </div>
        <div class="book-add-button-box">
          <%= button_tag type: "submit", class: "btn btn-default book-add-button" do %>
            <span>読みたい本<br>に追加</span>
          <% end %>
        </div>
        <div class="book-add-button-box">
          <%= button_tag type: "submit", class: "btn btn-default book-add-button" do %>
            <span>読む予定<br>に追加</span>
          <% end %>
        </div>
        <div class="book-add-button-box">
          <%= button_tag type: "submit", class: "btn btn-default book-add-button" do %>
            <span>気になる本<br>に追加</span>
          <% end %>
        </div>
      <% end %>
    </div>
    <h4 style="margin-top:5px;font-weight:bold;">【評価平均】</h4>
    <div class="clearfix" style="margin:5px;">
      <%= render 'books/book_rate_box',  fundamental_rate_stars: fundamental_rate_stars, generation_rate_stars: generation_rate_stars %>
    </div>
  </div>
</div>
