<div class="recommendation-content">
  <div class="recommendation-header">
    <a class="recommendation-link link-hover-blue" href="#">
      <strong class="recommendation-title"> <%= rate_name %> </strong>
      <span class="recommendation-detail">›ランキングを見る</span>
    </a>
    <div class="dropdown recommendation-right-dropdown">
      <a href="#" class="" data-toggle="dropdown" role="button" aria-expanded="false">
        <span class="">評価内容を変える▼</span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <% names.each do |rate_name| %>
          <li><a href="#"><%= rate_name %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% books.zip(averages).each do |book, average|%>
    <div class="book-image-box1">
      <%= link_to book do image_tag( book.book_img_url ) end %>
      <%# レートの星と数字の表示 %>
      <div class="show-top-rate">
        <%# overall_rateiに評価がある場合のみ星表示 %>
        <% if average[:ave_value] %>
            <div class="show-top-rate-star">
              <span class="rate-small rate-small<%= average[:ave_star] %>"></span>
            </div>
            <div class="show-top-rate-val">
              <span class=""><%= average[:ave_value] %></span>
            </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
