<div class="recommendation-content">
  <div class="recommendation-header">
    <%# num=2のときは世代別の評価なので、ランキングに遷移する場合世代別ということが分かるようにview_gene_rate:という名前で渡す。 %>
    <% if num == 2 %>
      <%= link_to ranking_books_path(view_gene_rate: @view_rates[num]), class: "recommendation-link link-hover-blue" do %>
      <strong class="recommendation-title"> <%= @rate_names[num] %> </strong>
      <span class="recommendation-detail">›ランキングを見る</span>
      <% end %>
    <% else %>
      <%= link_to ranking_books_path(view_fund_rate: @view_rates[num]), class: "recommendation-link link-hover-blue" do %>
      <strong class="recommendation-title"> <%= @rate_names[num] %> </strong>
      <span class="recommendation-detail">›ランキングを見る</span>
      <% end %>
    <% end %>
    <div class="dropdown recommendation-right-dropdown">
      <a href="#" class="" data-toggle="dropdown" role="button" aria-expanded="false">
        <span class="">評価内容を変える▼</span>
      </a>
      <ul class="dropdown-menu" role="menu">
      <% names.each_with_index do |name, i| %>
        <li>
          <%# @view_ratesは前の状態を保持した変数。下記で各評価に応じたリンクを生成 %>
          <% @view_rates[num] = i %>
          <%= link_to "#{name}", root_path(:view_rates => @view_rates ) %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
  <% books.zip(averages).each do |book, average|%>
    <div class="book-image-box1">
      <%= link_to book do image_tag( book.book_img_url ) end %>
      <%# レートの星と数字の表示 %>
      <div class="show-top-rate">
        <%# overall_rateiに評価がある場合のみ星表示 %>
        <% if average[:ave_value] && average[:ave_value] != 0 %>
            <div class="show-top-rate-star">
              <span class="rate-small rate-small<%= average[:ave_star] %>"></span>
            </div>
            <div class="show-top-rate-val">
              <span class=""><%= average[:ave_value] %></span>
            </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
