<div class="recommendation-content">
  <div class="recommendation-header">
    <a class="recommendation-link link-hover-blue" href="#">
      <strong class="recommendation-title"> <%= rate_names[0] %> </strong>
      <span class="recommendation-detail">›ランキングを見る</span>
    </a>
    <div class="dropdown recommendation-right-dropdown">
      <a href="#" class="" data-toggle="dropdown" role="button" aria-expanded="false">
        <span class="">評価内容を変える▼</span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <% rate_names[1..rate_names.length].each do |rate_name| %>
          <li><a href="#"><%= rate_name %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% books.each do |book|%>
    <div class="book-image-box1">
      <%= link_to image_tag("#{book.book_img_url}"), {:controller => :books, :action => :show, :id => book.id} %>
      <!-- レートの星と数字の表示 -->
      <div class="show-top-rate">
        <!-- overall_rateiに評価がある場合のみ星表示 -->
        <% if book.reviews.average(:overall_rate) %>
          <% ave_rate = book.reviews.average(:overall_rate)*2.round/2 *10 %>
            <div class="show-top-rate-star">
              <span class="rate-small rate-small<%= ave_rate.round %>"></span>
            </div>
            <div class="show-top-rate-val">
              <span class=""><%= ave_rate /10 %></span>
            </div>
        <% end %>
      </div>

    </div>
  <% end %>
</div>
