<div class="contents clearfix">
  <%# 本情報の部分テンプレート %>
  <%= render 'books/book_info', book: @book, fundamental_rate_stars: @fundamental_rate_ave_stars, generation_rate_stars: @generation_rate_ave_stars,fundamental_rate_values: @fundamental_rate_ave_values %>

  <div class="reviews-container">
    <h3 class="headline">◆評価・レビュー</h3>
      <% @reviews.each do |review| %>
        <div class="show-review-rate clearfix">
          <div class="clearfix">
            <div class="show-user">
              投稿者：<%= review.user.nickname %>　初回投稿日：<%= review.created_at.strftime("%Y/%m/%d") %>
              <% if review.created_at.strftime("%Y/%m/%d") != review.updated_at.strftime("%Y/%m/%d") %>
               　最新編集日：<%= review.updated_at.strftime("%Y/%m/%d") %>
              <% end %>
            </div>
            <%# 自分のレビューの場合のみ「編集」「削除」を表示 %>
            <% if @myreview && review.id == @myreview.id %>
            <div class="show-edit">
              <%= link_to '編集',edit_book_review_path(@book,@myreview.id), method: :get, style: "margin-right:5px;"  %>
              <%= link_to '削除',"/books/#{@book.id}/reviews/#{@myreview.id}", method: :delete, class: "" , data: {confirm: '削除してもいいですか？'} , style: "margin-right:5px;" %>
            </div>
            <% end %>
          </div>
          <%= render 'books/book_rate_box',  fundamental_rate_stars: review, generation_rate_stars: review %>
          <div class="show-book-review">
            <h4 class="show-review-title"><%= review.review_title %></h4>
            <div class="show-review">
              <%= simple_format(review.review) %>
            </div>
          </div>
        </div>
      <% end %>
  </div>

</div>
