<div class="contents clearfix">
  <!-- 本情報の部分テンプレート -->
  <%= render 'books/book_info', book: @book  %>

  <div class="reviews-container">
    <h3 class="headline">◆評価・レビュー</h3>
      <!-- <% reviews = Array.new(5) %> -->
      <% @book.reviews.each do |review| %>
        <div class="show-review-rate clearfix">
          <div class="show-user">
            投稿者：晃一　投稿日：2016/06/16
          </div>
          <div class="show-book-rate">
            <!-- 基本評価テーブル -->
            <div class="show-basic-rate-contribute">
              <h4 class="show-rate-title">基本評価 (5段階評価)</h4>
              <!-- 総合評価レートの表示。（太字、背景色が異なるので分けた） -->
              <dl class="show-rate" style="background-color:mistyrose;">
                <dt style="font-weight:bold;">総合評価</dt>
                <% if review.overall_rate %>
                <% rate = review.overall_rate * 10 %>
                <% else rate  = nil %>
                <% end %>
                <%= render 'books/rate_small', rate: rate %>
              </dl>
              <!-- 総合評価以外の基本レート -->
              <% rate_names = ["人生を変えた", "学びを得た", "共感できた", "面白い", "感動した" ] %>
              <% review_columns = [review.change_life_rate, review.learning_rate, review.sympathy_rate, review.interesting_rate, review.impression_rate] %>
              <% rate_names.zip(review_columns).each do |review_name, review_column| %>
                <dl class="show-rate">
                  <dt><%= review_name %></dt>
                  <% if review_column %>
                  <% rate = review_column * 10 %>
                  <% else rate  = nil %>
                  <% end %>
                  <%= render 'books/rate_small', rate: rate %>
                </dl>
              <% end %>
            </div>
            <!-- 世代別評価テーブル -->
            <div class="show-generation-rate-contribute">
              <h4 class="show-rate-title">世代別おすすめ度 (5段階評価)</h4>
              <% rate_names = ["〜小学生", "中学生", "高校生", "大学生", "〜20歳代", "30〜40歳代", "50歳〜", "退職後"] %>
              <% review_columns = [review.under_elementary_school_age_rate, review.junior_high_school_student_rate, review.high_school_student_rate, review.university_student_rate, review.younger_20s_rate, review.in_30s40s_rate, review.in_50s60s_rate, review.after_retirement_rate] %>
              <% rate_names.zip(review_columns).each do |review_name, review_column| %>
                <dl class="show-rate">
                  <dt><%= review_name %></dt>
                  <% if review_column %>
                  <% rate = review_column * 10 %>
                  <% else rate  = nil %>
                  <% end %>
                  <%= render 'books/rate_small', rate: rate %>
                </dl>
              <% end %>
            </div>
          </div>
          <div class="show-book-review">
            <h4 class="show-review-title"><%= review.review_title %></h4>
            <div class="show-review">
              <%= simple_format(review.review) %>
            </div>
          </div>
        </div>
      <% end %>
  </div>

</div>
