<div class="contents clearfix">
  <!-- 本情報の部分テンプレート -->
  <%= render 'books/book_info', book: @book, fundamental_rate_stars: @fundamental_rate_ave_stars, generation_rate_stars: @generation_rate_ave_stars,fundamental_rate_values: @fundamental_rate_ave_values, myreview: @myreview %>

  <%= form_for [@book, @review] do |f| %>
  <div class="rate-contribute">
    <h3 class="headline">◆評価</h3>
    <div class="basic-rate-contribute">
      <h4 class="rate-title">基本評価 (5段階評価)</h4>
      <% @fundamental_names.zip(@fundamental_rates).each do |fundamental_name, fundamental_rate| %>
        <%# 総合評価の場合のみ太字、背景色が異なるので分けた %>
        <% if fundamental_name == "総合評価" %>
          <dl class="new-rate" style="background-color:mistyrose;">
            <dt style="font-weight:bold;"><%= fundamental_name %></dt>
            <%# @review[fundamental_rate]が0以外の数値の時はその値をset_valueに入れてvalueに渡す。 %>
            <% set_value = @review[fundamental_rate] if @review[fundamental_rate] && @review[fundamental_rate] != 0 %>
            <dd><%= f.number_field fundamental_rate, placeholder: '未評価', max: 5, min: 1, step: 1, value: set_value, style: 'width: 65px; text-align: right;'  %></dd>
          </dl>
        <% else %>
          <dl class="new-rate">
            <dt><%= fundamental_name %></dt>
            <%# @review[fundamental_rate]が0以外の数値の時はその値をset_valueに入れてvalueに渡す。 %>
            <% set_value = @review[fundamental_rate] if @review[fundamental_rate] && @review[fundamental_rate] != 0 %>
            <dd><%= f.number_field fundamental_rate, placeholder: '未評価', max: 5, min: 1, step: 1, value: set_value, style: 'width: 65px; text-align: right;'  %></dd>
          </dl>
        <% end %>
      <% end %>
    </div>

    <div class="generation-rate-contribute">
      <h4 class="rate-title">世代別おすすめ度 (5段階評価)</h4>
      <% @generation_names.zip(@generation_rates).each do |generation_name, generation_rate| %>
        <dl class="new-rate">
          <dt><%= generation_name %></dt>
          <%# @review[generation_rate]が0以外の数値の時はその値をset_valueに入れてvalueに渡す。 %>
          <% set_value = @review[generation_rate] if @review[generation_rate] && @review[generation_rate] != 0 %>
          <dd><%= f.number_field generation_rate, placeholder: '未評価',  max: 5, min: 1, step: 1, value: set_value, style: 'width: 65px; text-align: right;'  %></dd>
        </dl>
      <% end %>
    </div>

    <div class="trouble-rate-contribute">
      <h4 class="rate-title">悩み評価</h4>
    </div>
  </div>

  <div class="new-review-contribute clearfix">
    <h3 class="headline">◆レビュー投稿</h3>
    <div class="" style="margin: 0 20px">
      <%= f.text_field :review_title, placeholder: 'レビューの見出しを記入', vstyle: 'width: 100%', maxlength:100 %>
    </div>
    <div class="" style="margin: 10px 20px">
      <%= f.text_area :review, placeholder: 'レビューを記入', style: 'width: 100%;height: 300px;resize: none;' %>
      <%= button_tag type: "submit", class: "btn btn-default review-contribute-button" do %>
      <span>編集を投稿する</span>
      <% end %>
    </div>

  </div>
  <% end %>
</div>
