<!-- <!DOCTYPE HTML> -->
<html>
<head>
  <meta charset="UTF-8" />
  <title>書斎.com(仮)</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav class="shosainav">

      <%# ヘッダー左側 %>
      <div class="left-nav">
        <div class="header-top-link">
          <%= link_to '書斎', root_path, class: "header-link shosai-text" %>
        </div>

        <div class="">
          <%= form_tag('/books/search', method: :get, :class => "left-nav-search") do %>
            <div class="form-group">
              <input type="text" name="keyword" class="form-control" placeholder="本のタイトルを検索" id="left-nav-input">
            </div>
            <button type="submit" class="btn btn-default">検索</button>
          <% end %>
        </div>
      </div>
      <%# ヘッダー右側 %>
      <div class="right-nav">
        <ul class="right-nav-list">
          <% if user_signed_in? %>
          <li>
            <a class="header-link" accesskey="2" data-gt="{&quot;chrome_nav_item&quot;:&quot;timeline_chrome&quot;}" href="#" title="プロフィール" id="">
              <%= image_tag current_user.avatar(:thumb), class: "header-prof-img"%>
              <%= current_user.nickname %>
            </a>
          </li>
          <li>
            <a href="#" class="header-link">
              <span>友達</span>
            </a>
          </li>
          <% end %>
          <li>
            <%= link_to 'ランキング', ranking_books_path, class: "header-link" %>
          </li>
          <li>
            <% if user_signed_in? %>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header-link" %>
            <% else %>
              <%= link_to 'ログイン', new_user_session_path, class: "header-link" %>
            <% end %>
          </li>
          <!-- <li class="dropdown">
            <a class="header-link" data-toggle="dropdown" role="button" aria-expanded="false">
              <span>その他 ▼</span>
            </a>
            <ul class="dropdown-menu hedder-dropdown" role="menu">
              <% if user_signed_in? %>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to 'ログイン', new_user_session_path %></li>
              <% end %>
              <li><a href="#">グループ</a></li>
              <li class="divider"></li>
              <li><a href="#">設定</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
    </nav>
  </header>

  <%= yield %>

  <footer>

  </footer>
</body>
</html>
